{
  "openapi": "3.0.0",
  "paths": {
    "/health": {
      "get": {
        "operationId": "AppController_health",
        "parameters": [],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "App"
        ]
      }
    },
    "/jobs": {
      "post": {
        "operationId": "JobsController_createJob",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "tags": [
          "jobs"
        ]
      },
      "get": {
        "operationId": "JobsController_listJobs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "job_id": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "queued",
                          "running",
                          "success",
                          "failed",
                          "timeout",
                          "deleted"
                        ]
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "return_code": {
                        "type": "integer",
                        "nullable": true
                      }
                    },
                    "required": [
                      "job_id",
                      "status",
                      "created_at",
                      "updated_at",
                      "return_code"
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "tags": [
          "jobs"
        ]
      }
    },
    "/jobs/{jobId}": {
      "get": {
        "operationId": "JobsController_getJob",
        "parameters": [
          {
            "name": "jobId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "tags": [
          "jobs"
        ]
      },
      "delete": {
        "operationId": "JobsController_deleteJob",
        "parameters": [
          {
            "name": "jobId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "tags": [
          "jobs"
        ]
      }
    },
    "/jobs/{jobId}/files": {
      "post": {
        "operationId": "JobsController_uploadFile",
        "parameters": [
          {
            "name": "jobId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": ""
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "tags": [
          "jobs"
        ]
      }
    },
    "/jobs/{jobId}/artifacts": {
      "get": {
        "operationId": "JobsController_listArtifacts",
        "parameters": [
          {
            "name": "jobId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "tags": [
          "jobs"
        ]
      }
    },
    "/jobs/{jobId}/artifact": {
      "get": {
        "operationId": "JobsController_downloadArtifact",
        "parameters": [
          {
            "name": "jobId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "path",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "tags": [
          "jobs"
        ]
      }
    },
    "/logs/recent": {
      "get": {
        "operationId": "LogsController_recentLogs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "job_id": {
                        "type": "string"
                      },
                      "text": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      }
                    },
                    "required": [
                      "job_id",
                      "text",
                      "created_at"
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer": []
          }
        ],
        "tags": [
          "logs"
        ]
      }
    }
  },
  "info": {
    "title": "GPT Container Experiment API",
    "description": "Creates temporary Docker containers for code experiments.",
    "version": "0.1.0",
    "contact": {}
  },
  "tags": [],
  "servers": [
    {
      "url": "https://sandbox.floow.site"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearer": {
        "scheme": "bearer",
        "bearerFormat": "API key",
        "type": "http"
      }
    },
    "schemas": {
      "CreateJobDto": {
        "type": "object",
        "properties": {
          "repo_url": {
            "type": "string",
            "description": "Optional git repository URL to clone before running commands.",
            "example": "https://github.com/pallets/flask.git"
          },
          "branch": {
            "type": "string",
            "description": "Optional branch, tag, or ref to clone.",
            "example": "main"
          },
          "commands": {
            "description": "Shell commands to run inside the temporary container.",
            "example": [
              "python3 --version",
              "python3 -m venv .venv",
              ". .venv/bin/activate && pip install -e .",
              ". .venv/bin/activate && pytest"
            ],
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "timeout_seconds": {
            "type": "number",
            "description": "Maximum runtime in seconds.",
            "default": 300,
            "maximum": 900
          },
          "network": {
            "type": "string",
            "description": "Whether the runner container should have network access.",
            "enum": [
              "on",
              "off"
            ],
            "default": "on"
          },
          "root": {
            "type": "boolean",
            "description": "Run as root inside the disposable container. Needed for apt install. Riskier.",
            "default": false
          }
        },
        "required": [
          "commands"
        ]
      }
    }
  }
}
